{
  "plugins": [
    "@prettier/plugin-xml"
  ],
  "overrides": [
    {
      "files": [
        "*.xml",
        "*.xsd"
      ],
      "options": {
        "parser": "xml",
        "xmlWhitespaceSensitivity": "ignore",
        "tabWidth": 2
      }
    }
  ]
}
