{
  "plugins": [
    "@prettier/plugin-xml"
  ],
  "overrides": [
    {
      "files": [
        "*.xml",
        "*.xsd"
      ],
      "options": {
        "parser": "xml",
        "htmlWhitespaceSensitivity": "ignore"
      }
    }
  ],
  "tabWidth": 2
}
